<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThaiSpa</title>
    
</head>
<body>
    <div class="block" style="text-align: center;">
        <h1>ThaiSpa</h1>
    </div>

    <div class="menu" style="text-align: center;">
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'services' %}">Услуги</a>
        <a href="{% url 'about-us' %}">О нас</a>
        <a href="{% url 'contact' %}">Контакты</a>
    </div>
</body>
</html>
